body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #56AB2F, #A8E063);
    color: #333;
  }
  
  #guess {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
  }
  
  #result {
    margin-top: 20px;
    font-size: 20px;
  }